<div class="site-header-content container">
  <div class="site-brand">
    <a class="site-title" rel="author" href="{{ '/' }}" itemprop="url">{{ site.title | escape }}</a>
  </div>
  <nav class="site-nav">
    <a href="#" class="toggle"><i class="fa fa-2x fa-bars"></i></a>
    <!-- <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label for="menu-toggle" class="label-toggle">TOGGLE</label> -->
    <ul class="menus">
      <li class="menu"><a href="{{ '/' }}" itemprop="url">Home</a></li>
      <li class="menu"><a href="{{ '/categories.html' }}" itemprop="url">Categories</a></li>
      <li class="menu"><a href="{{ '/tags.html' }}" itemprop="url">Tags</a></li>
      <li class="menu"><a href="{{ '/archives.html' }}" itemprop="url">Archives</a></li>
      <li class="menu"><a href="{{ '/about.html' }}" itemprop="url">About</a></li>
      <li class="menu"><a href="{{ '/feed.xml'  }}" target="_blank" itemprop="url">RSS</a></li>
    </ul>
  </nav>
</div>
