$site-header-min-height: 60px !default;
$site-header-background: rgba(243, 243, 243, 0.945) !default;

$site-body-background: rgba(255, 255, 255, 0.3) !default;

$site-footer-min-height: 60px !default;
$site-footer-background: rgba(243, 243, 243, 0.945) !default;

.site {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

#site-header {
  min-height: $site-header-min-height;
  background: $site-header-background;
  border-top: 5px solid #424242;
}

#site-footer {
  min-height: $site-footer-min-height;
  background: $site-footer-background;
  border-bottom: 5px solid #424242;
}

#site-body {
  flex: auto;
  background: $site-body-background;
}

.site-header-content,
.site-footer-content,
.site-body-content {
  margin: 0 auto;
  padding: 10px 0;
  // max-width: $site-width;
  @include container;
}

#site-main {
  flex: auto;
  box-sizing: border-box;
  min-width: 0;
  display: flex;
  flex-flow: column;
}

#site-sidebar {
  flex: 0 0 320px;
  box-sizing: border-box;
  @include sidebar($sidebar-enabled, $sidebar-aside);
}

.site-body-content {
  display: flex;
}

@include mobile {
  #site-sidebar {
    display: none;
  }
  .site-body-content {
    padding: 0;
  }
}
