.site-header-content {
  box-sizing: border-box;
  min-height: inherit;
  display: flex;
  justify-content: space-between;


  .site-brand {
    // margin-left: 20px;
    .site-title {
      font-size: 20px;
      font-weight: 700px;
      letter-spacing: 1px;
      // margin-left: 20px;
      // display: flex;
      // align-items: center;
    }
  }

  .site-nav {
    .toggle {
      box-sizing: border-box;
      border: solid 1px;
      // padding: 4px 8px;

      // .menu-icon {
      //   padding-top: 10px;
      // }
    }

    .menus {
      margin: 0;
      padding: 0;
      list-style: none;
      // display: none;

      .menu {
        font-size: 14px;

        a {
          padding: 10px;
        }
      }
    }

  }


  @media screen and (min-width: 780px) {
    .toggle {
      display: none;
    }

    .site-brand {
      flex: 1;
      display: flex;
      align-items: center;
    }

    .site-nav {
      display: flex;
      align-items: center;
    }

    .menus {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  // @media (max-width: 760px) {
  @media (max-width: 780px) {
    .toggle {
      display: block;
    }
    .menus {
      display: none;
    }
   & {
     display: block;
   }

    .menus.active {
      background: seagreen;
      display: flex;
      flex-direction: column;

    }
      // .site-brand {
      //   display: flex;
      //   justify-content: center;

      // }

      .toggle,
      .site-brand {
        display: inline-block;
      }

  }
}
