.site-header-content {
  box-sizing: border-box;
  // min-height: inherit;

  .site-nav {
    .brand {
      display: inline;
      .title {
        display: block;
        font-size: 20px;
        font-weight: 700px;
        letter-spacing: 1px;
      }
    }

    .toggle {
      box-sizing: border-box;
      border: solid 1px;
      padding: 4px 8px;
      padding-top: 10px;

      .menu-icon {
        padding-top: 14px;
      }
    }

    .menus {
      margin: 0;
      padding: 0;
      list-style: none;

      .menu {
        display: inline;
        // font-size: 14px;

        a {
          // padding: 15px 10px;
          display: block;
        }
      }
    }
  }

  // 正常屏幕
  @media screen and (min-width: 780px) {
    .site-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;

      .title {
        padding: 10px;
      }

      .toggle {
        display: none;
      }

      .menus {
        display: flex;
        justify-content: space-between;

        .menu {
          a {
            padding: 15px 10px;
          }
        }
      }
    }
  }

  // 小屏幕
  @media (max-width: 780px) {
    .site-nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .menus {
        display: none;
      }

      .menus.active {
        display: block;
        background: seagreen;
        flex-basis: 100%;

        .menu {
          a {
            padding: 10px;
          }
        }
      }
    }
  }
}
