.site-header-content {
  box-sizing: border-box;
  min-height: inherit;

}

.site-header-content {
  background: #e2e2e2;

  .toggle,
  .brand {
    display: inline-block;
  }

  .menu {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    background: seagreen;
    color: white;

    &:hover,
    &:active {
      background: black;
    }
  }

  .brand {
    text-align: center;
    background: black;
    color: white;
  }

  .toggle {
    color: black;
    vertical-align: middle;
  }
}

@media (min-width: 780px) {
  .site-header-content {
    display: flex;

    .menus {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }

    .menu {
      width: auto;
    }

    .toggle {
      display: none;
    }
  }
}

.site-header-content {
  .menus {
    display: none;

    @media (min-width: 780px) {
      display: flex;
    }
  }
}

@media (max-width: 780px) {
  // .navbar.active {
  //   .toggle {
  //     background: seagreen;
  //     color: white;
  //   }

  //   .menus {
  //     display: block;
  //   }
  // }

  .menus.active {
    display: block;
  }
}
