<!-- Iabacus  Analytics -->
{%- if site.kindee.iaa.TRACKING_ID -%}
<script>
  var _iaaq = _iaaq || [];
  _iaaq.push(['iaak', '{{ site.kindee.iaa.TRACKING_ID }}']);

  (function() {
      var iaa = document.createElement('script'); iaa.type = 'text/javascript'; iaa.async = true; iaa.src = 'https://analytics.lomagicode.com/analytics.js?iaak={{ site.kindee.iaa.TRACKING_ID }}';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(iaa, s);
  })();
</script>
{%- endif -%}
